<% provide(:title, "About") %>
<div class="page-header">
<h3>About TechScreen.net</h3>
</div>
<div class="row">
  <div class="col-md-12">
  <p>
  TechReviewNow helps you set up screening tests for software development candidates. Quickly create tests from a variety of topics and thousands of questions, or create your own.
  </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Unlimited Tests</h3>
    <p>Create as many screening tests as you'd like, with as many questions as you'd like.</p>
  </div>
    <div class="col-md-4">
    <h3>Large Library of Questions</h3>
    <p>Quickly put together screening tests for popular technologies using our existing library of questions and answers.</p>
  </div>
  <div class="col-md-4">
    <h3>Manage Candidates</h3>
    <p>Invite as many interview candidates as you'd like to take your tests, score and manage the results.</p>
  </div>
</div>
