<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is my experiment setting up a microposting aka tweeting aka flitting service. The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> was a great help in getting this site going. Thanks Michael Hartl for writing such an excellent tutorial!
</p>