<% provide(:title, 'Contact') %>
<h1>Contact Us With Your Nonsense</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <form action="/submitcontact" method="post">

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <label for="email">Your Email</label>
            <input id="email" name="email" size="30" class="form-control" type="text" />

            <label for="comment">Your Message</label>
            <textarea id="comment" name="comment" class="form-control" cols="40" rows="5">Message</textarea>

            <input class="btn btn-lg btn-primary" name="commit" type="submit" value="Send Message" />
        </form>
    </div>
</div>
