<% provide(:title, 'Contact') %>
<div class="page-header">
<h3>Contact Us</h3>
</div>

<div class="row">
  <div class="col-md-12">
        <form action="/submitcontact" method="post">

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <label for="email">Your Email</label>
            <input id="email" name="email" size="30" class="form-control" type="text" />

            <label for="subject">Subject</label>
            <input id="subject" name="subject" size="30" class="form-control" type="text" placeholder="Feature request / bug report / other" />

            <label for="comment">Your Message</label>
            <textarea id="comment" name="comment" class="form-control" cols="40" rows="5">Message</textarea>

            <input class="btn btn-lg btn-primary" name="commit" type="submit" value="Send Message" />
        </form>
    </div>
</div>
