<% provide(:title, "Help") %>
<div class="page-header">
<h3>TechScreen.net Help</h3>
</div>
<p>
  <strong>How do I send a test to a candidate?</strong> Log in, go to your dashboard, 
  then click "New Candidate" and fill in the appropriate fields and save. The new candidate will appear in your dashboard. 
  Click 'Send Test' next to the candidate's name and select the test you wish to send.
</p>
<p>
  <strong>How do I create a new test?</strong> Log in, go to your dashboard, scroll down and click 'Create Test.'
</p>
<p>
  <strong>How do I send test results to an employer?</strong> Log in, go to your dashboard, 
  scroll down to 'Test Results' section and click 'forward' on the test result.
</p>
<p>
  <strong>How do I ensure a candidate does not cheat on the test?</strong> One easy and effective approach 
  is to have the candidate on the phone while they take the test, and view their screen in a web meeting while they are entering the answers.
  A more fool-proof approach would be to have the candidate appear in person to take the screening test.
</p>
<p>
  <strong>How do I view test results?</strong> Log in, go to your dashboard, scroll down and look for 
  'Test Submissions.' Or, look in the candidates section and click 'Results.'
</p>
<p>
  <strong>How do I take a test myself?</strong> Log in, go to your dashboard, search for the test in 
  'Tests' section and click on the test link. At the bottom is a button to 'Take Test.'
</p>
<p>
  <strong>How do I create a multiple-choice question?</strong> Log in, go to your dashboard, 
  enter the 'Create New Question' section and choice 'Multiple Choice' for Question Type.
</p>
<p>
  <strong>How do I create a short answer question?</strong> Log in, go to your dashboard, 
  enter the 'Create New Question' section and choice 'Short Phrase' for Question Type.
</p>