<% provide(:title, "Help") %>
<div class="page-header">
<h3>Help / Frequently Asked Questions</h3>
</div>
<div class="row padded-row">
  <h4>Help Topics</h4>
  <ul>
    <strong>
    <li><a href="#candidates">Manage Candidates</a></li>
    <li><a href="#questions">Manage Questions</a></li>
    <li><a href="#tests">Manage Tests</a></li>
    <li><a href="#testresults">Manage Test Results</a></li>
    <li><a href="#companies">Manage Companies</a></li>
    <li><a href="#joblistings">Manage Job Listings</a></li>
    <li><a href="#account">Manage Account</a></li>
    </strong>
  </ul>
</div>
<br>
<div class="row">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a id="candidates" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Manage Candidates
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><strong>How do I send a test to a candidate?</strong> 
        
        Go to your dashboard, then in the "Add New Candidate" section on the left, fill in the appropriate fields 
        and click "Create Candidate." The new candidate will appear on your dashboard and in the Candidate Details page. 
        Click 'Send Test' and select the test you wish to send. When the candidate submits their test results, 
        the results will immediately be available on your dashboard.</p>
  <p>  <strong>How do I ensure a candidate does not cheat on the test?</strong> One easy and effective approach 
  is to have the candidate on the phone while they take the test, and view their screen in a web meeting while they are entering the answers.
  A more fool-proof approach would be to have the candidate appear in person to take the screening test.
    All tests are timed beginning when the user clicks on the 'Start Test' link, ending when they submit their results.
  </p>
  
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a id="questions" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Manage Questions
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
    <p><strong>Why do I need to sign up to see question answers?</strong> 
  TechScreen.net is not designed to be a study tool for candidates (there are many, many good sources already out there for that); 
  it is geared towards recruiters / employers who want to screen candidates.</p>
  <p><strong>What does Difficulty mean for a question, and does it affect scoring?</strong> 
  At the moment, there are three basic quesiton difficulty levels you can specify for a question you create, 
  and the difficulty level does not affect scoring (it is for your own record keeping).
  </p>
  
  <p>
      <strong>What's the difference between a short phrase type question and open-ended?</strong> 
  Short phrase questions are intended for just that: questions with one or two word answers. 
  They can be automatically scored (whitespace and capitalization will be ignored in scoring, but not punctuation).
  Open-ended questions typically have longer answers and are not automically scored (you must manually score them after the candidate takes the test).
  Short phrase questions can be manually rescored if you believe the automatic scoring is in error for any particular question.
  </p>
  <p>
      <strong>I can't find the technology category I'm looking for... now what?</strong> 
  Please send us an email in the <%= link_to "Contact Us", contact_path %> page and we will add it for you.
  </p>
  <p>
      <strong>Can I make my tests / questions public or private?</strong> Yes, for any test or question you create,
  you have the option of making them private (only viewable to you), or public.
  </p>
  <p>  <strong>How do I create a short phrase question?</strong> Log in, go 'Test Material' -> 'Questions', 
  click the 'Create New Question' section and choice 'Short Phrase' for Question Type.
</p>
<p>  <strong>How do I create a multiple-choice question?</strong> Log in, go 'Test Material' -> 'Questions', 
  click the 'Create New Question' section and choice 'Multiple Choice' for Question Type.
</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a id="tests" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Manage Tests
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
    <p><strong>How do I create a new test?</strong> You can go to your dashboard, scroll down and click 'Create Test'
    or go to 'Test Material' -> 'Tests' and click 'Create New Test.'</p>
    
    <p>  <strong>How do I create a new test populated with random questions from specific topics?</strong> 
  Log in, go to your dashboard, scroll down and click 'Create Test.' After specifying a test name, you are given the option to 'Select Random Questions.' 
  This will bring you to a form where you can specify a list of topics and a number of random questions to select per topic.</p>
  <p>  <strong>How do I see the candidate's view / take the test myself?</strong> Log in, go to your dashboard, search for the test in 
  'Tests' section and click on the test link. Then click "See Candidate's View" to see how it looks to them, 
  and optionally take the test to see how results will look when a candidate takes it.</p>
</div>
    </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="testresults" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Manage Test Results / Submissions
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>  <strong>How do I send test results to an employer?</strong> Log in, go to your dashboard, 
  scroll down to 'Test Results' section and click 'Forward' on the test result.</p>
  <p>  <strong>How do I view test results?</strong> Go to your dashboard, scroll down and look for 
  'Test Results.' Or, look in the candidates section and click 'Results.'
</p>
      <p>  <strong>How can I tell how long it took for a candidate to take a test?</strong> The candidate's
  test taking time is automatically started when they click the 'Start Test' link, and stopped when they
  submit the test.</p>
      </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="companies" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            Manage Companies
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p><strong>How do I create a company? </strong>After logging in, go to 'Opportunities' -> 'Companies' and click 'Create Company.'</p>
          <p><strong>How do I associate a job listing with a company?</strong> View the job listing details page, 
          and from there click 'Add Job Listing.'</p>
      </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="joblistings" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            Manage Job Listings
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <p><strong>How do I create a job listing? </strong>After logging in, go to 'Opportunities' -> 'Job Listings' 
          and click 'Create New Job Listing.'</p>
          <p><strong>How do I associate a candidate with a job listing?</strong> View the job listing details page, 
          and from there click 'Create New Candidate.'</p>
      </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="account" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            Manage Account
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>How do I make changes to my subscription?</strong> You can either <%= link_to "Contact Us", contact_path %>
            or look for the initial email you received from Chargify regarding managing your billing / subscription.
          </p>
          <p>
              <strong>How do I contact you for more information on another topic?</strong>
  Try the <%= link_to "Contact Us", contact_path %> page.
          </p>
          <p><strong>How do I change my profile details?</strong> After logging in, go to 'Account' -> 'Profile' then 
          click 'Edit Profile.'</p>
      </div>
      </div>
    </div>
    
</div>

</div>
