<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Flitter lets you post "flits" which are kind of like tweets, only more ridiculous sounding. Also, they can go 
  up to 141 characters and can include images (i.e. they are far superior than tweets).
</p>
<p>In order to change your avatar aka gravatar, go to Account -> Settings, and click "change your gravatar."</p>