<% provide(:title, "Help") %>
<h3>TechScreen.net Help</h3>
<p>
  <strong>How do I send a test to a candidate?</strong> Log in, go to your dashboard, 
  then click "New Candidate" and fill in the appropriate fields and save. The new candidate will appear in your dashboard. 
  Click 'Send Test' next to the candidate's name and select the test you wish to send.
</p>
<p>
  <strong>How do I create a new test?</strong> Log in, go to your dashboard, scroll down and click 'Create Test.'
</p>