<% provide(:title, "Help") %>
<div class="page-header">
<h3>Help / Frequently Asked Questions</h3>
</div>
<div class="row">
<div class="well">
  <strong>How do I send a test to a candidate?</strong> Log in, go to your dashboard, 
  then click "New Candidate" and fill in the appropriate fields and save. The new candidate will appear in your dashboard. 
  Click 'Send Test' next to the candidate's name and select the test you wish to send.
</div>
<div class="well">
  <strong>Why do I need to sign up to see question answers?</strong> 
  TechScreen.net is not designed to be a study tool for candidates (there are many, many good sources already out there for that); 
  it is geared towards recruiters / employers who want to screen candidates.
</div>
<div class="well">
  <strong>What does Difficulty mean for a question, and does it affect scoring?</strong> 
  At the moment, there are three basic quesiton difficulty levels you can specify for a question you create, 
  and the difficulty level does not affect scoring (it is for your own record keeping).
</div>
<div class="well">
  <strong>What's the difference between a short answer question and free form?</strong> 
  Short answer questions are intended for just that: questions with one or two word answers. 
  They can be automatically scored (whitespace and capitalization will be ignored in scoring).
</div>
<div class="well">
  <strong>I can't find the technology category I'm looking for... now what?</strong> 
  Please send us an email in the <%= link_to "Contact Us", contact_path %> page and we will add it for you.
</div>
<div class="well">
  <strong>How do I create a new test?</strong> Log in, go to your dashboard, scroll down and click 'Create Test.'
</div>
<div class="well">
  <strong>How do I create a new test populated with random questions from specific topics?</strong> 
  Log in, go to your dashboard, scroll down and click 'Create Test.' After specifying a test name, you are given the option to 'Select Random Questions.' 
  This will bring you to a form where you can specify a list of topics and a number of random questions to select per topic.
</div>
<div class="well">
  <strong>How do I send test results to an employer?</strong> Log in, go to your dashboard, 
  scroll down to 'Test Results' section and click 'forward' on the test result.
</div>
<div class="well">
  <strong>How do I ensure a candidate does not cheat on the test?</strong> One easy and effective approach 
  is to have the candidate on the phone while they take the test, and view their screen in a web meeting while they are entering the answers.
  A more fool-proof approach would be to have the candidate appear in person to take the screening test.
</div>
<div class="well">
  <strong>How do I view test results?</strong> Log in, go to your dashboard, scroll down and look for 
  'Test Submissions.' Or, look in the candidates section and click 'Results.'
</div>
<div class="well">
  <strong>How do I take a test myself?</strong> Log in, go to your dashboard, search for the test in 
  'Tests' section and click on the test link. At the bottom is a button to 'Take Test.'
</div>
<div class="well">
  <strong>Can I make my tests / questions public or private?</strong> Yes, for any test or question you create,
  you have the option of making them private (only viewable to you), or public.
</div>
<div class="well">
  <strong>How do I create a multiple-choice question?</strong> Log in, go to your dashboard, 
  enter the 'Create New Question' section and choice 'Multiple Choice' for Question Type.
</div>
<div class="well">
  <strong>How do I create a short answer question?</strong> Log in, go to your dashboard, 
  enter the 'Create New Question' section and choice 'Short Phrase' for Question Type.
</div>
<div class="well">
  <strong>How can I tell how long it took for a candidate to take a test?</strong>The candidate's
  test taking time is automatically started when they click the 'Start Test' link, and stopped when they
  submit the test.
</div>
<div class="well">
  <strong>How do I contact you for more information on another topic?</strong>
  Try the <%= link_to "Contact Us", contact_path %> page.
</div>
</div>