<div class="center jumbotron">
  <h1>Welcome to Flitter</h1>

  <h2>
    When 140 characters just won't do. Flitter to the rescue.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
