<% provide(:title, "News") %>
<div class="page-header">
<h3>News</h3>
</div>
<div class="row">
  T3KSCR33N launched its beta version in June of 2015. We have opened up the site for free content access until August 2015. You can now sign up for a free user account, and/or give us feedback in the 
  <%= link_to "Contact Us", contact_path %> area.
</div>
