<% provide(:title, "News") %>
<h1>News</h1>
<p>
  All the news that's fit to print about this wonderful service, when it officially launches mid-2015. 
  Right now we are still working on everything...
</p>