<% provide(:title, "News") %>
<div class="page-header">
<h3>News</h3>
</div>
<div class="row">
  TechScreen.net is on track to launch in June of 2015. Right now we are still working on various aspects of the site... 
  but feel free to sign up for a beta user account, and/or give us feedback in the 
  <%= link_to "Contact Us", contact_path %> area.
</div>