<% provide(:title, "News") %>
<div class="page-header">
<h3>News</h3>
</div>
<p>
  All the news that's fit to print about this wonderful service, when it officially launches mid-2015. 
  Right now we are still working on everything... but feel free to give us feedback in the 
  <%= link_to "Contact Us", contact_path %> area.
</p>