<% provide(:title, "Privacy Policy") %>
<div class="page-header">
<h3>Privacy Policy</h3>
</div>
<div class="row">
  TechScreen.net does not share your private data with anyone. TechScreen.net does allow users to create publicly viewable content,
  but you must explicitly choose to make any content you create public. Obviously, if you choose to make some of your content public (for example, screening tests or questions),
  then anyone can potentially view that public content. 
</div>
