<% provide(:title, "Terms And Conditions") %>
<div class="page-header">
<h3>Terms And Conditions</h3>
</div>
<div class="row">
	TechScreen.net reserves the right to change service plan details at any point in the future.
	Users can cancel at any time, for any reason, and will be refunded the unused portion of the month for their
	current subscription. Otherwise, subscriptions renew automatically at the first day of each month.
</div>
