<h1>WebPredict Activation</h1>
<h3>WebPredict</h3>

<p>Hello <%= @user.name %>,</p>

<p>
Welcome to WebPredict! If you are a paying member, your account is already activated.

For free accounts, click 
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
to activate your account.
</p>
<p>
  After your account is activated, you can get started by <%= link_to "Logging In", login_path %> and setting up 
  candidates, job listings, screening tests, and companies. For more information about how to get
  various tasks done with WebPredict, please see the <%= link_to "Help", help_path %> section.
</p>
