<% provide(:title, "Metrics") %>
<div class="page-header">
<h3>Metrics</h3>
</div>
<% if logged_in? %>
  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Candidates Per Job</h3>
          </div>
          <div class="panel-body">
            <%= column_chart current_user.candidates.joins(:jobs).group(:'jobs.name').count %>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Candidates Per Day</h3>
          </div>
          <div class="panel-body">
            <% if Rails.env.development? %>
            <%= column_chart Candidate.where("user_id = ?", current_user.id).group(:job_id).count %>
            <% elsif Rails.env.production? %>
            <%= line_chart Candidate.where("user_id = ?", current_user.id).group_by_day(:created_at, 
              format: "%B %d, %Y").count, discrete: true %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Jobs Per Company Breakdown</h3>
          </div>
          <div class="panel-body">
            <%= pie_chart current_user.jobs.joins(:company).group(:'companies.name').count %>
          </div>
        </div>
      </div>
  </div>
<% end %>
