<% if @jobs && @jobs.any? %>
    <div class="table-responsive">
    <table class="table">
      <tr><th>Job Name</th><th>Description</th><th>Company</th><th>Created At</th><th>Actions</th></tr>
      <tbody>
      <%= render @jobs %>
      </tbody>
    </table>
    </div>
  <%= will_paginate @jobs %>
<% end %>