<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Test Results<span style="float:right">
      <%= link_to test_submissions_path, class: "btn btn-xs btn-default" do %>
    <i class="glyphicon glyphicon-search"></i>
    <% end %></span></h3>
    </div>
  <div class="panel-body">
<% if @test_submissions && @test_submissions.any? %>
    <div class="table-responsive">
    <table class="table">
      <tr><th>Candidate Name</th><th>Test Name</th><th>Test Submission</th><th>Score</th><th>Time</th><th>Actions</th></tr>
      <tbody>
      <%= render @test_submissions %>
      </tbody>
    </table>
    </div>
  <%= will_paginate @test_submissions %>
<% else %>
<strong>No test results yet.</strong>
<% end %>
</div>
</div>
