<% provide(:title, 'Forward Test Results') %>
<div class="page-header">
<h3>Forward Test Results For Candidate: <%= @test_submission.candidate.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
        <form action="/submit_forward_submission" method="post" class="form-horizontal">

            <%= hidden_field_tag :test_submission_id, @test_submission.id %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          
            <label for="email">Forward To Email:</label>
            <input id="email" name="email" size="30" class="form-control" type="text" />
            
          <div class="form-group">
          <div style="float:right">
            <input class="btn btn-primary" name="commit" type="submit" value="Send Results" />
            <span></span>
            <%= link_to "Cancel", root_path, class: "btn btn-default" %>
        </div>
        </div>
        </form>
    </div>
</div>
